langchain
openai==0.28
numpy
datasets==3.2.0
fuzzywuzzy
python-Levenshtein
transformers==4.48.2
sacrebleu
sacremoses
faiss-cpu
nltk
scikit-learn
evaluate
torch
lexical-diversity
dirtyjson
sentence-transformers
pynvml
wandb
bitsandbytes
accelerate
langchain-community
bert-score